# This is Git's per-user configuration file.
[user]
	name = Sun Xian
	email = personal_sunyunxian@foxmail.com
	username = Sun Xian

[init]
	defaultBranch = main# Change git init default branch name

[core]
	excludesfile = /Users/sunyunxian/.global.gitignore
	quotepath = false
	editor = vim
	ignorecase = false

[includeIf "gitdir:Users/sunyunxian/workspace/work/xyz"]
	path = .xyz.gitconfig

[pull]
	rebase = true

[fetch]
	prune = true

[gc]
	reflogExpire = never# Make reflog never expire

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
	helper = store

[alias]
	last = "git log -1"
[push]
	autoSetupRemote = true
