[user]
	name = sunyunxian
	email = personal_sunyunxian@foxmail.com
[init]
    defaultBranch = main # Change git init default branch name
[core]
[core]
    excludesfile = /Users/sunyunxian/.gitignore_global
    excludesfile = ~/.gitignore
	quotepath = false
    editor = vim
    ignorecase = false
[gc]
    reflogExpire = never # Make reflog never expire
[push]
    default = simple
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[alias]
    st = status
    a = add
    ci = commit
    ca = commit -a
    l  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    d = diff
    br = branch
    co = checkout
    ba = branch -a
[includeIf "gitdir:Users/sunyunxian/workspace/company/xyz/"]
    path = .gitconfig.xyz
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
