# This is Git's per-user configuration file.
[user]
	name = syx
	email = personal_sunyunxian@foxmail.com
	signingkey = E3D5E8B5F367FF4EA000986360AA869611CA60C4
[init]
	defaultBranch = main# Change git init default branch name
[core]
	excludesfile = /Users/sunyunxian/.global.gitignore
	quotepath = false
	editor = vim
	ignorecase = false
[includeIf "gitdir:Users/sunyunxian/workspace/work/xyz"]
	path = .xyz.gitconfig
[gc]
	reflogExpire = never# Make reflog never expire
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
